.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  background-color: bisque;
  padding: 50px 10px 40px 10px;
  border-radius: 30px;
  h1 {
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(93, 93, 93);
    text-align: center;
    margin-bottom: 30px;
  }
  .container_card {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    @media (max-width: 375px) {
      grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    }
  }
}
